
<h2>Tarefa.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Problema<br />
    Pegando um gancho na copa do mundo, monte o sistema onde os torneios são
    tipicamente mata-mata são compostos por times e chaves, onde são gerados os
    vencedores de cada chave até chegar ao grande vencedor do torneio. Seu objetivo é criar
    um sistema onde é possível cadastrar os times e gerenciar o torneio até a fase final, onde
    poderemos eleger o vencedor.<br />
</p>
<p>
    Regras<br />
    1. Você deverá desenvolver uma solução WEB em C# .NET utilizando os frameworks,
    tecnologias e conceitos que julgar melhor (MVC é diferencial);<br />
    2. Queremos como resultado uma solução simples, legível e de qualidade;<br />
    3. Não utilize soluções prontas. Nós as conhecemos;<br />
    4. Seja criativo. Você decide quais funcionalidades irá incluir além dos requisitos;<br />
    5. Se quiser usar banco de dados, que seja LocalDB ou no SQL Azure (lembre-se de
    liberar o acesso no SQL Azure);<br />
    6. Voce tem 24 horas para entregar este sistema;<br />
</p>
<p>
    Dicas<br />
    1. Não se preocupe muito com Front-end. Um front-end simples e organizado é
    melhor do que um muito colorido;<br />
    2. Faça apenas o que você conhece. Não saia procurando códigos mirabolantes pela
    internet. Lembre-se da regra 3;<br />
    3. Estamos mais preocupados em saber se você realmente conhece a tecnologia;<br />
    4. Não conseguiu fazer tudo? Tudo bem!! Mande o que você conseguiu fazer e
    descreva qual foi sua dificuldade;<br />
</p>
