@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-left">Gerenciador de Times </h1>
    <p class="lead">Gerencie seu campeonato, adicione times e divirta-se! :D</p>
    <p>MundiVox Teste</p>
</div>

<div class="row">
    <div class="col-md-3">          
        <p><a class="btn btn-info btn-lg col-lg-10" href="~/Championship/Create"> + Time &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <p><a class="btn btn-info btn-lg col-lg-10" href="~/Championship/Tables"> Tabelas &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <p><a class="btn btn-info btn-lg col-lg-10" href="~/Championship/Index"> Chaves &raquo;</a></p>
    </div>
    
    <div class="col-md-3">
        <p><a class="btn btn-info btn-lg col-lg-10" href="~/Championship/Search"> Buscar &raquo;</a></p>
    </div>
</div>