@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Gerenciador de Times </h1>
    <p class="lead">Gerencie seu campeonato, adicione times e divirta-se! :D</p>
    <p>MundiVox Teste</p>
</div>

<div class="row">
    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865"> + Time &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301866"> Tabelas &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301867"> Chaves &raquo;</a></p>
    </div>
    
    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301867"> Buscar &raquo;</a></p>
    </div>
</div>