@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-left">Gerenciador de Times </h1>
    <p class="lead">Gerencie seu campeonato, adicione times e divirta-se! :D</p>
    <p>MundiVox Teste</p>
</div>

<div class="row">
    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg" href="http://localhost:55824/Championship/Create"> + Time &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg" href="http://localhost:55824/Championship/Tables"> Tabelas &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg" href="http://localhost:55824/Championship/Index"> Chaves &raquo;</a></p>
    </div>
    
    <div class="col-md-3">
        <p><a class="btn btn-primary btn-lg" href="http://localhost:55824/Championship/Search"> Buscar &raquo;</a></p>
    </div>
</div>